extends layout

block navbar 
    include ./partials/navbar

block content 
    if error
        .alert.alert-danger(role="alert")
            span=error

    .container 
        .row.d-flex.align-items-center.justify-content-center.text-center.height-80
            .col-12
                h1.display-3 Change Password

                form(action="/users/changepassword/"+user._id, method="post") 

                    .form-group.d-flex.align-items-center.justify-content-center.text-center 
                        input.w-50(type="password", class="form-control", name="password", placeholder="Enter Old Password")

                    .form-group.d-flex.align-items-center.justify-content-center.text-center 
                        input.w-50(type="password", class="form-control", name="newPassword", placeholder="Enter New Password")
                    
                    button.btn-hero(type="submit") Change Password
                    a.btn-hero.m-1(href="/users/account") Cancel